# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Docker
docker-data/

# other
archivator2.py
project_code.txt
project_tree.txt
старое дерево.txt
ставлю руками.txt
